
#bluecont{
    color: white;
    background-color: rgba(41, 41, 212, 0.925);
    height: 30px;
    padding: 10px;
    text-align: center;
    word-spacing:2px ;
}
.menubar{
    background-color:lightgray;
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color:black;
}
.menubar ul li{
    width: 110px;
    margin: 5px;
    padding: 4px;
}
.active, .menubar ul li:hover{
    background: blue;
    border-radius: 3px;
    height: 25px;
}
.table td{
    padding: 50px;
    width: 230px;
    height: 20px;
    background-color: whitesmoke;
    
}

.first {
    
    width: 300px;
    height: 180px;
    margin-top:-90px;
    margin-left: 500px;
}
.table td img{
    /* margin-top: -80x; */
    margin-left: 88px;
    margin-bottom: -50px;
    margin-top: -500px;
}

.table td p{
    font-size: 140%;
    margin-left: 43px;
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1 p{
    font-size: 40px;
    display: inline;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
#text{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-size:25px;
}
#bluecont2{
    background-color: rgb(48, 95, 236);
    height: 300px;
    padding 20px;
    color: white;
    font-size: 20px;
}
h2 p{
    font-size: 30px;
    display: inline;
}

#bluecont2 img{
    padding: 40px;
    margin-left: 160px;
    display: inline;
}
#bluecont2 p {
    color: white;
    font-size: 35px;
    margin-left:170px ;
    font-family: cursive;
    display: inline;
}
#text1{
    font-size: 5px;
    font-family: monospace;
}
table{
    margin: 30px;
    border-spacing: 35px;
}
td{

    font-size: 20px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: rgb(233, 228, 228);
}
tr{
    background-color: rgb(236, 239, 241);
    
}
#gallery{
    padding-bottom: 120px;
    
}
#blakcont{
    background-color: rgb(26, 21, 21);
    color: white;
    padding-left: 80px;
    padding-bottom: 100px;
    padding-top: 30px;
    line-height: 25px;
    display: flex;
    /* height: 100px; */
}
#but {
    width: 45px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 18px;
}